<h1>Log in to Twitter</h1>

<%= form_for @user, url: {action: "create_session"} do |f| %>
  <div>
  Email: <%= f.text_field :email %>
  </div>

  <div>
  Password: <%= f.password_field :password %>
</div>

  <%= f.submit 'Login' %>

  <% end %>